# IMDb Top 250

### Full project Task :  
1. Scrape data from a IMDb website ( IMDb Top 250) using BeautifulSoup.  *(used **SELENIUM** instead because Beautiful a js-dynamically generated list)* 
2. Clean it with **Pandas**
3. load it into **MS SQL** for analysis; and
4. visualize trends in **Power BI**.


### Tools
  - **Jupyter Notenbook***
      - libraries:
          - Pandas,
          - Selenium,
          - time
            
  - **Microsoft Excel**
  - **Microsoft Sql server** 
  - **Microsoft Power BI**

In [133]:
#import libraries
import pandas as pd
from selenium import webdriver # the library itself
from selenium.webdriver.common.by import By  #key to selecting html/css tags
from selenium.webdriver.chrome.options import Options #used  for debugging, and setting up  headless chrome
import time #for asynchronous operation to load up the entire list info 


#data cleaning
import numpy as np
import re

# WEB SCRAPING

In [9]:
# IMDb Top 250 URL
url ="https://www.imdb.com/chart/top/"


#setting up chrome

options = Options()
options.add_argument('--disable-gpu')
options.add_argument('--no-sandbox')

driver =  webdriver.Chrome(options=options)
driver.get(url) # to Open the IMDb Top 250 page




#empty list to append scrapped data
movies_dataset = []



try:
    time.sleep(3)

    #grab and save all 25 movie links first
    movies_details_links = driver.find_elements(
        By.CSS_SELECTOR, "ul.ipc-metadata-list li.ipc-metadata-list-summary-item a.ipc-title-link-wrapper"
    )

    print(f"\nTotal links found: {len(movies_details_links)}\n")
    
    movie_links = []
    for el in movies_details_links:
        href = el.get_attribute('href')
        if href and "/title/" in href:
            # Extract clean movie ID URL (remove tracking parameters)
            base_url = href.split('?')[0]
            movie_links.append(base_url)

    print(f"Number of movie links: {len(movie_links)}\n")

    # Loop through all 250 movies
    for rank_no, link in enumerate(movie_links, 1): 
        #print(f"\nðŸ”— Processing movie #{rank_no}: {link}")
        driver.get(link)
        time.sleep(2)

        # Title
        try:
            title = driver.find_element(By.CSS_SELECTOR, 'h1').text
        except:
            title = 'N/A'

        # Year Released
        try:
            year_released = driver.find_element(
                By.CSS_SELECTOR, 
                'ul[data-testid="hero-title-block__metadata"] li:first-child a'
            ).text
        except:
            try:
                year_released = driver.find_element(
                    By.XPATH, 
                    '//a[contains(@href, "releaseinfo")]'
                ).text
            except:
                year_released = 'N/A'

        # Runtime
        try:
            runtime = driver.find_element(
                By.CSS_SELECTOR, 
                'ul[data-testid="hero-title-block__metadata"] li:nth-child(3)'
            ).text
        except:
            try:
                # Fallback for different layout
                runtime = driver.find_element(
                    By.CSS_SELECTOR, 
                    'li[data-testid="title-techspec_runtime"] .ipc-metadata-list-item__content-container'
                ).text
            except:
                runtime = 'N/A'

        # MPAA Rating
        try:
            mpaa_rating = [rating.text for rating in driver.find_elements(By.CSS_SELECTOR, "li.ipc-inline-list__item")]
            mpaa_rating = mpaa_rating[5] 
        except:
            mpaa_rating = 'N/A'

        # IMDb Rating
        try:
            imdb_rating = driver.find_element(
                By.CSS_SELECTOR, 
                'div[data-testid="hero-rating-bar__aggregate-rating__score"] span:first-child'
            ).text
        except:
            imdb_rating = 'N/A'

        # Director(s)
        try:
            # Find the director section by label
            director_label = driver.find_element(
                By.XPATH, 
                '//div[@class="ipc-metadata-list-item__label" and contains(text(), "Director")]'
            )
    
            # Find the container with director names
            director_container = director_label.find_element(
                By.XPATH, 
                './following-sibling::div[contains(@class, "ipc-metadata-list-item__content-container")]'
            )
    
            # Extract all director names
            directors = director_container.find_elements(
                By.CSS_SELECTOR, 
                'a[href*="/name/"]'
            )
    
            director = ", ".join([d.text for d in directors if d.text])
        except:
            try:
                # Fallback method using data-testid
                directors = driver.find_elements(
                    By.CSS_SELECTOR, 
                    'li[data-testid="title-pc-principal-credit"]:first-child a'
                )
                director = ", ".join([d.text for d in directors if d.text])
            except:
                director = 'N/A'
            
        # Movie Poster URL
        try:
            # First try to get the poster from the hero section
            poster = driver.find_element(
                By.CSS_SELECTOR, 
                'div[data-testid="hero-media__poster"] img'
            )
            poster_url = poster.get_attribute('src')
        except:
            try:
                # Fallback to the poster container
                poster = driver.find_element(
                    By.CSS_SELECTOR, 
                    'div.ipc-poster img'
                )
                poster_url = poster.get_attribute('src')
            except:
                try:
                    # Try to get from media image
                    poster = driver.find_element(
                        By.CSS_SELECTOR, 
                        'div.ipc-media img'
                    )
                    poster_url = poster.get_attribute('src')
                except:
                    poster_url = 'N/A'

        # Stars (top 5)
        try:
            stars = driver.find_elements(
                By.CSS_SELECTOR, 
                'div[data-testid="title-cast-item"] a[data-testid="title-cast-item__actor"]'
            )
            star_names = ", ".join([s.text for s in stars[:5]])
        except:
            star_names = 'N/A'

        # Country
        try:
            country = driver.find_element(
                By.XPATH, 
                '//li[@data-testid="title-details-origin"]//div/ul/li/a'
            ).text
        except:
            country = 'N/A'

        # Language
        try:
            languages = driver.find_elements(
                By.XPATH, 
                '//li[@data-testid="title-details-languages"]//li/a'
            )
            language = ", ".join([lang.text for lang in languages])
        except:
            language = 'N/A'

        # Budget
        try:
            budget = driver.find_element(
                By.XPATH, 
                '//li[@data-testid="title-boxoffice-budget"]//div/ul/li/span'
            ).text
        except:
            budget = 'N/A'

        # Gross Worldwide
        try:
            gross = driver.find_element(
                By.XPATH, 
                '//li[@data-testid="title-boxoffice-cumulativeworldwidegross"]//div/ul/li/span'
            ).text
        except:
            gross = 'N/A'

        #append result into the 'movies_dataset'
        movies_dataset.append({
                'IMDb Ranking': rank_no,
                'Title': title,
                'Year Release': year_released,
                'Age Rating': mpaa_rating,
                'Runtime': runtime,
                'IMDb Rating': imdb_rating,
                'Country': country,
                'Director(s)': director,
                'Top Casts': star_names,
                'Original Language': language,
                'Budget' : budget,
                'Gross (Worldwide)' : gross,
                'Poster': poster_url,
                'Movie URL': link
            })


except Exception as e:
    print("Error:", e)
    import traceback
    traceback.print_exc()

finally:
    driver.quit()
    print("âœ… Done.")

Total links found: 250

Number of movie links: 250

âœ… Done.

In [4]:
movies_dataset

In [21]:
df = pd.DataFrame(movies_dataset)

df.head()

,IMDb Ranking,Title,Year Release,Age Rating,Runtime,IMDb Rating,Country,Director(s),Top Casts,Original Language,Budget,Gross (Worldwide),Poster,Movie URL
0,1,The Shawshank Redemption,1994,R,2 hours 22 minutes,9.3,United States,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",English,"$25,000,000 (estimated)","$29,333,735",https://m.media-amazon.com/images/M/MV5BMDAyY2...,https://www.imdb.com/title/tt0111161/
1,2,The Godfather,1972,R,2 hours 55 minutes,9.2,United States,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...","English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",https://m.media-amazon.com/images/M/MV5BNGEwYj...,https://www.imdb.com/title/tt0068646/
2,3,The Dark Knight,2008,PG-13,2 hours 32 minutes,9.0,United States,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","English, Mandarin","$185,000,000 (estimated)","$1,012,558,979",https://m.media-amazon.com/images/M/MV5BMTMxNT...,https://www.imdb.com/title/tt0468569/
3,4,The Godfather Part II,1974,R,3 hours 22 minutes,9.0,United States,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian...","English, Italian, Spanish, Latin, Sicilian","$13,000,000 (estimated)","$47,983,687",https://m.media-amazon.com/images/M/MV5BMDIxMz...,https://www.imdb.com/title/tt0071562/
4,5,12 Angry Men,1957,Approved,1 hour 36 minutes,9.0,United States,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...",English,"$350,000 (estimated)","$2,945",https://m.media-amazon.com/images/M/MV5BYjE4Nz...,https://www.imdb.com/title/tt0050083/

In [25]:
df.to_csv('imdb_top_250.csv', index=False)

# DATA CLEANING

In [365]:
#import the csv 

df_imdb = pd.read_csv('imdb_top_250.csv')

In [367]:
df_imdb.head(3)

,IMDb Ranking,Title,Year Release,Age Rating,Runtime,IMDb Rating,Country,Director(s),Top Casts,Original Language,Budget,Gross (Worldwide),Poster,Movie URL
0,1,The Shawshank Redemption,1994,R,2 hours 22 minutes,9.3,United States,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",English,"$25,000,000 (estimated)","$29,333,735",https://m.media-amazon.com/images/M/MV5BMDAyY2...,https://www.imdb.com/title/tt0111161/
1,2,The Godfather,1972,R,2 hours 55 minutes,9.2,United States,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...","English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",https://m.media-amazon.com/images/M/MV5BNGEwYj...,https://www.imdb.com/title/tt0068646/
2,3,The Dark Knight,2008,PG-13,2 hours 32 minutes,9.0,United States,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","English, Mandarin","$185,000,000 (estimated)","$1,012,558,979",https://m.media-amazon.com/images/M/MV5BMTMxNT...,https://www.imdb.com/title/tt0468569/

In [369]:
#columns
df_imdb.columns

Index(['IMDb Ranking', 'Title', 'Year Release', 'Age Rating', 'Runtime',
       'IMDb Rating', 'Country', 'Director(s)', 'Top Casts',
       'Original Language', 'Budget', 'Gross (Worldwide)', 'Poster',
       'Movie URL'],
      dtype='object')

In [371]:
#check the data types of each column
df_imdb.dtypes

IMDb Ranking           int64
Title                 object
Year Release           int64
Age Rating            object
Runtime               object
IMDb Rating          float64
Country               object
Director(s)           object
Top Casts             object
Original Language     object
Budget                object
Gross (Worldwide)     object
Poster                object
Movie URL             object
dtype: object

In [373]:
##------------------------------------------------------------------------

#### a. fix 'runtime column'

In [376]:
# Convert the duration/runtime of the movie from 'x hours yy minutes' to  'zz minutes

def to_minutes(runtime):
    runtime = runtime.lower()
    minutes = 0

    if "hour" in runtime:
        hour_part = runtime.split("hour")[0].strip()
        hours = int(hour_part.split()[-1])
        minutes += hours * 60

    if "minute" in runtime:
        minute_part = runtime.split("minute")[0].strip()
        mins = int(minute_part.split()[-1])
        # Avoid double-counting if hour is also present
        if "hour" in runtime:
            mins = int(minute_part.split()[-1])
        minutes += mins

    return minutes

df_imdb['Runtime_minutes'] = df_imdb['Runtime'].apply(to_minutes)

In [378]:

df_imdb[['Runtime_minutes', 'Title']].head()

   Runtime_minutes                     Title
0              142  The Shawshank Redemption
1              175             The Godfather
2              152           The Dark Knight
3              202     The Godfather Part II
4               96              12 Angry Men

In [380]:
#drop previous duration (runtime)column 
df_imdb.drop(['Runtime'], axis=1, inplace=True)

In [382]:
df_imdb.head(2)

,IMDb Ranking,Title,Year Release,Age Rating,IMDb Rating,Country,Director(s),Top Casts,Original Language,Budget,Gross (Worldwide),Poster,Movie URL,Runtime_minutes
0,1,The Shawshank Redemption,1994,R,9.3,United States,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",English,"$25,000,000 (estimated)","$29,333,735",https://m.media-amazon.com/images/M/MV5BMDAyY2...,https://www.imdb.com/title/tt0111161/,142
1,2,The Godfather,1972,R,9.2,United States,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...","English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",https://m.media-amazon.com/images/M/MV5BNGEwYj...,https://www.imdb.com/title/tt0068646/,175

In [384]:
#---------------------------------------------------------------------------------------------

#### b. fix 'Budget column'

In [387]:
# 1. cleaning the budget column  
# 2.converting all currencies to USD

In [389]:
# To show all rows
#pd.set_option('display.max_rows', None)

df_imdb["Budget"].head()

0     $25,000,000 (estimated)
1      $6,000,000 (estimated)
2    $185,000,000 (estimated)
3     $13,000,000 (estimated)
4        $350,000 (estimated)
Name: Budget, dtype: object

In [391]:

# Comprehensive exchange rates (approximate values - update as needed)
EXCHANGE_RATES = {
    # Major currencies
    '$': 1.00,       # US Dollar
    'A$': 0.67,      # Australian Dollar
    'R$': 0.19,      # Brazilian Real
    'C$': 0.75,      # Canadian Dollar
    'â‚¬': 1.12,       # Euro
    'Â£': 1.27,       # British Pound
    'Â¥': 0.0068,     # Japanese Yen
    'â‚¹': 0.012,      # Indian Rupee
    'â‚©': 0.00085,    # South Korean Won
    
    # Country codes
    'ITL': 0.0006,   # Italian Lira
    'DEM': 0.56,     # German Mark
    'DKK': 0.14,     # Danish Krone
    
    # Fallbacks
    'US': 1.00,      # US Dollar (alternative)
    'AU': 0.67,      # Australian Dollar
    'CA': 0.75,      # Canadian Dollar
    'EU': 1.12,      # Euro
    'UK': 1.27,      # British Pound
    'JP': 0.0068,    # Japanese Yen
    'IN': 0.012,     # Indian Rupee
    'KR': 0.00085,   # South Korean Won
}

def convert_budget_to_usd(budget_str):
    if pd.isna(budget_str):
        return np.nan
        
    budget_str = str(budget_str).strip()
    
    # Step 1: Extract numeric value
    amount_match = re.search(r'[\d,]+', budget_str)
    if not amount_match:
        return np.nan
        
    amount_str = amount_match.group(0).replace(',', '')
    try:
        amount = float(amount_str)
    except:
        return np.nan
        
    # Step 2: Identify currency
    currency = '$'  # Default to USD
    
    # Look for currency symbols
    if 'â‚¹' in budget_str:
        currency = 'â‚¹'
    elif 'â‚©' in budget_str:
        currency = 'â‚©'
    elif 'â‚¬' in budget_str:
        currency = 'â‚¬'
    elif 'Â£' in budget_str:
        currency = 'Â£'
    elif 'Â¥' in budget_str:
        currency = 'Â¥'
    # Look for currency codes
    elif 'ITL' in budget_str:
        currency = 'ITL'
    elif 'DEM' in budget_str:
        currency = 'DEM'
    elif 'DKK' in budget_str:
        currency = 'DKK'
    # Look for country prefixes
    elif budget_str.startswith('A$'):
        currency = 'A$'
    elif budget_str.startswith('R$'):
        currency = 'R$'
    elif budget_str.startswith('C$'):
        currency = 'C$'
        
    # Step 3: Convert to USD
    rate = EXCHANGE_RATES.get(currency, 1.0)  # Default to USD if unknown
    return amount * rate

# Apply conversion
df_imdb['Budget_USD'] = df_imdb['Budget'].apply(convert_budget_to_usd)

In [393]:
#drop  Budget column
df_imdb.drop(['Budget'], axis=1, inplace=True)

In [395]:
df_imdb['Budget_USD']

0      2.500000e+07
1      6.000000e+06
2      1.850000e+08
3      1.300000e+07
4      3.500000e+05
5      9.400000e+07
6      2.200000e+07
7      8.000000e+06
8      9.300000e+07
9      1.200000e+06
10     5.500000e+07
11     9.400000e+07
12     6.300000e+07
13     1.600000e+08
14     1.800000e+07
15     6.300000e+07
16     2.500000e+07
17     1.650000e+08
18     3.000000e+06
19     3.300000e+07
20     3.180000e+06
21     1.900000e+07
22     8.500000e+05
23     7.000000e+07
24     6.270000e+05
25     6.000000e+07
26     9.000000e+06
27     1.020000e+08
28     1.100000e+07
29     1.900000e+07
30     1.900000e+07
31     3.500000e+07
32     1.030000e+08
33     1.140000e+07
34     8.069470e+05
35     4.500000e+07
36     3.700000e+06
37     9.000000e+07
38     3.300000e+06
39              NaN
40     4.000000e+07
41     2.000000e+07
42     1.600000e+07
43     1.000000e+08
44     9.500000e+05
45     6.000000e+06
46     1.064000e+07
47     5.000000e+06
48     1.100000e+07
49     1.500000e+06
50     1.000000e+06
51     5.000000e+06
52     1.000000e+08
53     1.500000e+06
54     3.150000e+07
55     1.900000e+08
56     1.800000e+08
57     9.000000e+06
58     1.800000e+07
59     2.000000e+06
60     3.210000e+08
61     1.752000e+06
62     9.000000e+07
63     3.000000e+06
64     9.350000e+05
65     1.900000e+07
66     2.000000e+06
67              NaN
68     7.000000e+07
69     1.850000e+07
70     2.500000e+08
71     1.750000e+08
72     1.800000e+07
73     3.000000e+07
74     3.560000e+08
75     1.000000e+07
76     3.000000e+06
77     1.800000e+06
78     1.792000e+07
79     7.200000e+07
80     1.500000e+07
81     1.632000e+07
82     1.564000e+06
83     2.516000e+06
84     6.600000e+06
85     5.500000e+07
86     3.000000e+07
87     4.000000e+06
88     2.540800e+06
89              NaN
90     4.500000e+06
91     3.250000e+07
92     2.000000e+08
93     2.800000e+06
94              NaN
95     2.000000e+07
96              NaN
97     1.200000e+07
98     6.800000e+06
99     1.200000e+06
100    3.000000e+06
101    1.500000e+07
102    5.000000e+07
103    9.272620e+05
104    6.000000e+07
105    3.101000e+06
106    1.750000e+08
107    8.397270e+05
108             NaN
109    3.000000e+07
110    2.479000e+06
111    1.000000e+07
112    5.000000e+05
113             NaN
114    2.000000e+06
115    2.800000e+07
116    2.200000e+06
117    5.500000e+06
118    4.800000e+07
119    1.000000e+08
120    3.360000e+06
121    7.620000e+06
122    9.500000e+07
123    3.500000e+07
124    1.330000e+05
125    1.512000e+07
126    8.400000e+06
127    1.000000e+08
128             NaN
129    1.300000e+06
130    2.300000e+07
131    1.500000e+08
132    6.000000e+07
133    6.000000e+05
134    3.000000e+06
135    2.883848e+06
136    8.000000e+07
137    2.500000e+05
138    6.000000e+06
139    1.400000e+06
140    6.300000e+07
141    2.500000e+07
142    4.000000e+07
143    5.200000e+07
144    1.150000e+07
145    1.700000e+08
146    2.500000e+07
147    1.500000e+07
148    1.900000e+07
149    1.440000e+07
150    3.000000e+07
151    5.800000e+07
152    3.000000e+06
153    4.600000e+07
154             NaN
155    9.400000e+07
156    2.400000e+07
157    4.000000e+06
158    2.915602e+05
159    5.000000e+06
160    1.400000e+06
161    4.000000e+07
162    3.977000e+06
163    6.000000e+06
164    2.500000e+05
165    2.000000e+06
166    1.219200e+06
167    5.400000e+07
168    1.750000e+08
169    1.500000e+07
170    3.000000e+06
171    5.200000e+07
172    1.905000e+06
173    1.800000e+07
174    7.800000e+07
175    7.000000e+06
176    2.500000e+07
177    1.250000e+08
178    3.300000e+07
179    3.000000e+07
180    1.500000e+07
181    1.500000e+08
182    3.700000e+06
183    1.100000e+07
184    1.640000e+07
185    2.000000e+08
186    1.800000e+05
187    2.000000e+07
188    4.000000e+07
189    2.500000e+06
190    2.500000e+07
191    2.800000e+07
192    6.100000e+07
193    2.800000e+06
194    1.500000e+08
195    1.150000e+08
196    1.300000e+07
197    1.650000e+08
198    3.300000e+06
199    9.230000e+05
200             NaN
201    7.000000e+06
202    5.520800e+06
203    9.760000e+07
204    1.500000e+07
205    7.500000e+05
206             NaN
207    1.900000e+06
208    9.100000e+05
209             NaN
210    9.700000e+07
211    9.600000e+05
212             NaN
213             NaN
214    2.000000e+07
215    1.500000e+07
216    6.400000e+06
217    2.400000e+06
218    1.400000e+08
219    1.500000e+05
220    1.300000e+07
221    2.900800e+06
222             NaN
223    1.750000e+07
224    6.000000e+06
225    2.100000e+06
226    2.700000e+06
227    1.100000e+07
228    8.200000e+06
229             NaN
230    9.200000e+07
231    2.777000e+06
232             NaN
233    1.600000e+07
234    3.800000e+07
235    8.000000e+06
236             NaN
237    3.800000e+06
238    7.000000e+07
239    8.500000e+06
240             NaN
241    8.000000e+05
242             NaN
243    8.000000e+05
244    1.500000e+07
245    1.460000e+07
246    2.500000e+07
247    2.000000e+06
248    2.208000e+06
249    9.400000e+06
Name: Budget_USD, dtype: float64

In [397]:
df_imdb.head(3)

,IMDb Ranking,Title,Year Release,Age Rating,IMDb Rating,Country,Director(s),Top Casts,Original Language,Gross (Worldwide),Poster,Movie URL,Runtime_minutes,Budget_USD
0,1,The Shawshank Redemption,1994,R,9.3,United States,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",English,"$29,333,735",https://m.media-amazon.com/images/M/MV5BMDAyY2...,https://www.imdb.com/title/tt0111161/,142,25000000.0
1,2,The Godfather,1972,R,9.2,United States,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...","English, Italian, Latin","$250,342,198",https://m.media-amazon.com/images/M/MV5BNGEwYj...,https://www.imdb.com/title/tt0068646/,175,6000000.0
2,3,The Dark Knight,2008,PG-13,9.0,United States,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","English, Mandarin","$1,012,558,979",https://m.media-amazon.com/images/M/MV5BMTMxNT...,https://www.imdb.com/title/tt0468569/,152,185000000.0

In [399]:
#=-----------------------------------------------------

#### a. fix 'Gross (Worldwide) column'

In [402]:
df_imdb["Gross (Worldwide)"]

0         $29,333,735
1        $250,342,198
2      $1,012,558,979
3         $47,983,687
4              $2,945
5      $1,138,585,547
6        $322,161,245
7        $213,928,762
8        $888,483,037
9         $25,266,106
10       $678,226,465
11       $938,532,865
12       $101,321,009
13       $839,381,898
14       $550,016,086
15       $467,841,735
16        $47,068,004
17       $758,614,115
18       $109,115,366
19       $328,981,827
20        $10,635,461
21       $272,742,922
22         $1,082,148
23       $482,352,390
24        $30,681,033
25       $286,801,374
26       $230,099,013
27       $517,778,573
28       $775,398,507
29       $385,053,307
30       $358,926,964
31       $120,098,945
32       $465,516,248
33       $262,616,458
34        $32,251,723
35       $979,161,373
36           $841,612
37       $291,481,358
38        $50,360,880
39            $15,222
40       $109,676,311
41        $23,875,714
42        $20,330,788
43       $690,824,738
44         $4,729,846
45        $23,341,568
46       $426,590,315
47        $13,030,027
48       $109,102,567
49           $463,618
50        $37,905,475
51         $5,435,312
52       $426,076,293
53            $55,154
54       $105,119,378
55       $714,644,358
56       $527,403,656
57        $40,047,236
58       $389,925,971
59        $77,672,685
60     $2,052,415,039
61           $310,112
62       $393,602,435
63             $7,903
64             $8,290
65        $47,964,195
66           $972,212
67           $138,288
68       $321,460,744
69       $131,060,248
70     $1,114,976,407
71       $814,641,172
72        $52,114,930
73       $394,436,586
74     $2,799,439,100
75       $225,933,435
76        $17,617,021
77         $9,631,984
78        $11,489,051
79       $213,216,216
80       $356,296,601
81       $177,402,188
82            $64,503
83       $405,340,703
84        $60,262,836
85     $1,078,958,629
86         $5,476,126
87        $64,417,003
88         $2,096,442
89        $20,929,648
90         $7,391,471
91       $482,466,382
92     $1,067,316,101
93        $15,886,373
94           $113,821
95        $73,384,095
96                NaN
97        $66,852,727
98         $6,797,861
99         $2,932,006
100       $18,783,770
101       $45,868,580
102       $66,443,303
103           $21,026
104      $187,436,818
105          $197,920
106      $735,103,954
107        $1,711,106
108           $35,566
109       $50,193,748
110        $7,971,440
111      $175,183,052
112       $22,926,076
113       $21,897,373
114          $602,810
115      $143,651,650
116       $27,034,174
117      $156,000,000
118      $474,171,806
119      $975,811,333
120        $1,351,009
121       $83,557,872
122      $446,064,352
123      $126,216,940
124          $451,336
125       $92,181,574
126      $303,726,694
127      $407,039,432
128               NaN
129       $28,737,520
130      $321,752,656
131      $375,406,308
132      $264,118,712
133       $15,000,000
134           $12,180
135          $208,786
136      $294,978,537
137           $44,115
138       $24,048,935
139          $154,974
140    $1,104,379,926
141       $76,430,381
142      $672,806,432
143      $116,112,375
144        $4,292,539
145    $1,495,696,292
146      $171,632,777
147       $20,838,523
148       $83,863,565
149      $159,167,799
150      $180,908,413
151      $316,791,257
152        $5,014,000
153      $122,127,446
154           $68,196
155      $941,637,960
156      $241,005,727
157          $230,637
158        $2,931,902
159       $26,034,325
160           $45,313
161               NaN
162      $402,382,193
163       $29,232,347
164          $139,819
165       $35,079,650
166        $3,753,929
167      $134,686,457
168      $859,076,254
169      $162,729,321
170       $27,201,366
171      $352,114,312
172       $16,992,984
173       $23,405,883
174      $333,165,945
175       $60,611,975
176       $23,308,615
177    $1,342,505,340
178      $269,958,228
179      $216,763,646
180       $74,439,376
181      $380,437,267
182       $30,419,471
183          $283,918
184      $235,860,116
185    $1,921,426,073
186          $933,933
187      $187,734,091
188      $180,563,636
189        $6,568,450
190      $174,567,384
191       $41,767,218
192      $370,890,259
193        $1,210,156
194      $623,730,087
195      $579,770,299
196       $65,796,862
197      $494,879,860
198       $31,478,893
199           $33,626
200              $399
201      $477,916,625
202        $1,740,791
203      $226,299,480
204       $49,080,312
205            $1,344
206           $22,326
207          $146,123
208            $3,768
209           $81,070
210      $619,180,476
211      $117,253,345
212        $1,421,864
213           $93,091
214       $98,690,254
215       $48,261,691
216       $78,371,200
217          $975,543
218      $654,264,546
219          $312,104
220       $35,402,766
221          $760,243
222               NaN
223       $33,882,243
224      $138,546,255
225       $23,667,133
226       $16,506,532
227      $430,872,776
228      $159,500,547
229           $22,731
230      $631,688,498
231       $25,637,669
232       $36,112,960
233       $46,749,646
234       $96,992,516
235       $53,525,035
236       $18,612,999
237       $23,701,317
238       $23,338,352
239       $37,863,670
240       $30,819,442
241          $962,002
242        $4,578,000
243            $7,304
244       $56,676,733
245       $71,108,778
246      $221,802,186
247       $20,908,467
248        $4,384,642
249               NaN
Name: Gross (Worldwide), dtype: object

In [404]:
# Remove dollar signs and commas, then convert to float

df_imdb["Gross (Worldwide)"] = pd.to_numeric(
    df_imdb["Gross (Worldwide)"].replace('[\$,]', '', regex=True),
    errors='coerce'
)

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
C:\Users\USER\AppData\Local\Temp\ipykernel_4104\3068640748.py:4: SyntaxWarning: invalid escape sequence '\$'
  df_imdb["Gross (Worldwide)"].replace('[\$,]', '', regex=True),

In [406]:
df_imdb["Gross_USD"] =df_imdb["Gross (Worldwide)"]

In [408]:
#delete 'Gross (Worldwide)' column

df_imdb.drop(columns=['Gross (Worldwide)'], inplace=True)

In [410]:
df_imdb.head()

,IMDb Ranking,Title,Year Release,Age Rating,IMDb Rating,Country,Director(s),Top Casts,Original Language,Poster,Movie URL,Runtime_minutes,Budget_USD,Gross_USD
0,1,The Shawshank Redemption,1994,R,9.3,United States,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",English,https://m.media-amazon.com/images/M/MV5BMDAyY2...,https://www.imdb.com/title/tt0111161/,142,25000000.0,2.933374e+07
1,2,The Godfather,1972,R,9.2,United States,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...","English, Italian, Latin",https://m.media-amazon.com/images/M/MV5BNGEwYj...,https://www.imdb.com/title/tt0068646/,175,6000000.0,2.503422e+08
2,3,The Dark Knight,2008,PG-13,9.0,United States,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","English, Mandarin",https://m.media-amazon.com/images/M/MV5BMTMxNT...,https://www.imdb.com/title/tt0468569/,152,185000000.0,1.012559e+09
3,4,The Godfather Part II,1974,R,9.0,United States,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian...","English, Italian, Spanish, Latin, Sicilian",https://m.media-amazon.com/images/M/MV5BMDIxMz...,https://www.imdb.com/title/tt0071562/,202,13000000.0,4.798369e+07
4,5,12 Angry Men,1957,Approved,9.0,United States,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...",English,https://m.media-amazon.com/images/M/MV5BYjE4Nz...,https://www.imdb.com/title/tt0050083/,96,350000.0,2.945000e+03

In [412]:
df_imdb[['Budget_USD','Gross_USD']].describe()

         Budget_USD     Gross_USD
count  2.300000e+02  2.450000e+02
mean   3.765647e+07  2.305979e+08
std    5.680383e+07  3.709631e+08
min    1.330000e+05  3.990000e+02
25%    3.000000e+06  7.971440e+06
50%    1.500000e+07  6.441700e+07
75%    4.750000e+07  3.217527e+08
max    3.560000e+08  2.799439e+09

In [414]:
df_imdb.isna().sum()

IMDb Ranking          0
Title                 0
Year Release          0
Age Rating            0
IMDb Rating           0
Country               0
Director(s)           0
Top Casts             0
Original Language     1
Poster                0
Movie URL             0
Runtime_minutes       0
Budget_USD           20
Gross_USD             5
dtype: int64

# Save Cleaned Data

In [421]:
df_imdb.to_csv('imdb_top_250_cleaned.csv',  index=False)